
body {   
  background-color: black;
  color: #b8b1b1; 
  overflow: hidden;
  text-align: center; 
}

#startScreen {
  position: absolute;
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 5000;
  background-color: #000000;
}

#loaderWrapper {
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #b8b1b1;
  margin: 0 auto;
  padding: 0px;
}

#loaderWrapper img{
  margin-top: -30px;
  margin: 0px;
}

#canvasWrapper canvas {
  height: 100%;
}

#ctx {
  margin: 0 auto;
}

#uiWrapper {
  text-align: left;
  position: absolute;
  z-index: 2000;
  top: 0px;
  left: 0px;
  width: 100%;
}

#scoreWrapper {
  margin: 0 auto;
}

#buttonsChoiceWrapper, #buttonSearchWrapper {
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: 100%;
  height: 80px;
  text-align: center;
  z-index: 5000;
}

#buttonStart {
  background-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-color: #b8b1b1;  ;
  border-radius: 5px;  
  margin: 10px;
  font-size: 30px;
  color: #b8b1b1;  
  overflow: hidden;
  cursor: pointer;
}

.buttonsChoice, #buttonSearch {
  border-style: solid;
  border-width: 1px;
  border-color: #dfa43c;
  border-radius: 5px;  
  margin: 10px;
  background: linear-gradient( rgb(75,65,45), rgb(54,34,26), rgb(14,12,10), rgb(20,10,10), rgb(20,10,10), rgb(26,16,10), rgb(26,16,10), rgb(26,16,10), rgb(51,40,20) ); 
  background-size: cover;
  background-position: center center;
  font-size: 30px;
  color: #b8b1b1;  
  overflow: hidden;
}

.buttonsChoice img {
  height: 100%;    
  width: auto; 
}

#buttonSearch img {
  margin-left: 15px;
  float: left;
  height: 100%;    
  width: auto; 
}

.buttonsChoice:hover, #buttonSearch:hover, #buttonStart:hover {
  border-width: 1px;  
  border-color: rgba(200,200,200,1);
  box-shadow: 0 0 20px rgba(220,173,9,0.4);   
} 

.roundTimer {
  background-color: rgb(103, 109, 52);
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #dfa43c;
  border-radius: 5px; 
  text-align: center;   
}

.roundTimer img{
  height: 100%;    
  width: auto;  
}

#timerLine {
  background-color: #000000;
}

#fatalitySigns img{
  height: 100%;    
  width: auto;  
} 
